{#
  miniShop

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/miniShop
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% spaceless %}
<!-- {{ _self.getTemplateName() }} -->
<div id="minishop">
  <div class="container-fluid">    
    
    <h1>{{ 'Your shopping basket'|trans }}</h1>  
    
    {{ alert }}
    
    {% if order.articles is defined and order.articles|length > 0 %}
      <form action="{{ permalink_base_url ~ '/basket' }}" class="form-inline" method="post" role="form">
        {# show a summary of the basket content as form #}
        {% include '@phpManufaktur/miniShop/Template/default/command/include/summary.basket.twig' with {'use_as_form':true} %}
        {{ form_rest(form) }}
      </form>
      <div class="order-now">
        <a href="{{ permalink_base_url ~ '/order' }}" class="btn btn-default" role="button"><i class="fa fa-money"></i> {{ 'Order now'|trans }}</a>
      </div>
    {% endif %}  
    
    {# show a link to the article list of the shop #}
    {% include '@phpManufaktur/miniShop/Template/default/command/include/switch.list.twig' %}
    
  </div>
</div>
{% endspaceless %}